<!DOCTYPE html>

<html lang="en">

<head>

    {% block page_content %}{% endblock %}    

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="IE=11">
  
<link rel="shortcut icon" href="https://spteams.keybank.com/sites/RiskBlogs/SiteAssets/SitePages/Tableau/key.png"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
 
<script type="text/javascript"
src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
    <script type="text/javascript">
        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "http://public.tableau.com/views/RegionalSampleWorkbook/College",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        console.log("Run this code when the viz has finished loading.");
                    }
                };

            var viz = new tableau.Viz(containerDiv, url, options);
            // Create a viz object and embed it in the container div.
        }
</script>
 
<title>Brian Test Website</title>

<nav class="navbar navbar-inverse">
  <div class="container"> 	
	<div class="container-fluid">
		<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><font color="white">Brian Website</a></font>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		    <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Link 1<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">Page 1-1</a></li>
					<li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li>                 
                </ul>
                
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Link 2<span class="caret"></span></a>
				<ul class="dropdown-menu">
                    {% for post in posts %}
                    <ul></ul>
                        <li><a href="/posts/{{post.id}}">{{post.Player_Name}} {{post.id}}</li></a>
                    {% endfor %}
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Static Reports</li>
					<li><a href="#">Production Report #1</a></li>
					<li><a href="#">Production Report #2</a></li>
					</ul>
					</li>
				</ul>
			</ul>
		</div>
	</div>
	  </div>
</nav>
</head>

<body onload="initViz();">
  <div class="container"> 
    <div id="vizContainer" style="width:100%; height:750px;"></div>
</body>

<div class="container">

    <div class="row">
        <div class="col-md-4">
			<h3>TEST</H3>
            <div class="imgAbt">
                <img width="100%" height="100%" src="C:\Users\Brian\Desktop\brohio.jpg"/>
            </div>
        </div>
        <div class="col-md-8">
			<h3>TEST</H3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor eu augue ut lectus arcu bibendum at. 
			Tincidunt lobortis feugiat vivamus at. Ante metus dictum at tempor commodo ullamcorper a. Velit egestas dui id ornare arcu odio ut. Faucibus ornare suspendisse sed nisi lacus sed 
			viverra tellus in. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Lacus sed turpis tincidunt id aliquet risus feugiat in. Eu consequat ac felis 
			donec et odio pellentesque diam volutpat. Turpis cursus in hac habitasse platea dictumst quisque. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Aliquam nulla facilisi 
			cras fermentum odio eu feugiat pretium nibh. Vitae ultricies leo integer malesuada nunc vel risus. Aenean sed adipiscing diam donec adipiscing tristique risus nec. 
			Egestas erat imperdiet sed euismod nisi. Massa sed elementum tempus egestas sed. Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet. Pulvinar proin gravida 
			hendrerit lectus a. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Senectus et netus et malesuada fames ac turpis egestas integer.</p>
        </div>
    </div>
</div>

<br></br>


 <div class="row">
    <div class="row2">
        <div class="col-sm-4">
            <div class = "panel panel-default">
		<div class ="panel-heading">Campaign Tracking</div>
  
   <div class = "panel-body"></div>
		<p>This section is for Campaign tracking across all Sales Segments.  Select below to view Campaign Dashboard.</p>
                               
                {% block content %}

                {% endblock %}
                
			</div>
		</div>
	</div>
    
	<div class="col-sm-4">         
		<div class = "panel panel-default">
			<div class ="panel-heading">Sales Activity Reports</div>
  
	<div class = "panel-body">
		<p>Select your region in this section to give you more information on Sales Activity by PA and Region.<br></br></p>
            <ul class = "list-group">
				<li class = "list-group-item"><a href="https://www.cnn.com">East</li></a>
				<li class = "list-group-item"><a href="https://www.cnn.com">Great Lakes</li></a>
				<li class = "list-group-item"><a href="https://www.cnn.com">Rocky Mountain</li></a>
				<li class = "list-group-item"><a href="https://www.cnn.com">Pacific NW</li></a>
			</div>
		</div>
	</div>
       
    <div class="col-sm-4">  
        <div class = "panel panel-default">
	
	<div class ="panel-heading">Misc.</div>
    
	<div class = "panel-body">
		<p>Select your misc data in this section to give you more information. Audit uses semi-annual data.<br></br></p>
			<ul class = "list-group">
			<li class = "list-group-item"><a href="https://www.cnn.com">EJ Deck</li></a>
			<li class = "list-group-item"><a href="https://www.cnn.com">RSE Deck</li></a>
			<li class = "list-group-item"><a href="https://www.cnn.com">Onboarding</li></a>
			<li class = "list-group-item"><a href="https://www.cnn.com">KMS Migration</li></a>
		</ul>
	</div>
</div>
        